---
import Icon from "../components/Icon.astro";
import Tag from "../components/Tag.astro";
import "../styles/constants.css";

interface Project {
  title: string;
  description: string;
  url: string;
  urlIcon: string;
  img: string;
  technologies: string[];
  type?: "mobile" | "windows";
  alt?: string;
}

const colors = ["green", "cyan", "orange", "purple"];

const projects: Project[] = [
  {
    title: "BijiApp",
    description:
      "Aplicación móvil para gestionar semestres académicos universitarios. Permite crear semestres, asignar materias y evaluaciones, programar fechas de exámenes y calcular promedios. Desarrollada con Dart, Flutter y SQLite.",
    url: "https://github.com/AdelSuarez/portfolio-web",
    urlIcon: "icons/github_.svg",
    img: "/bijiapp_cap1-min.png",
    technologies: ["Dart", "Flutter", "SQLite"],
    type: "mobile",
    alt: "Image de bijiapp, mostrando la interfaz de la aplicación móvil",
  },
  {
    title: "Modulo 9",
    description:
      "Aplicación web para gestionar los semestres académicos de la universidad, donde puedes crear semestres, sus materias y evaluaciones, asignar fechas de evaluaciones, ver los promedios y crear horarios personalizados. Desarrollada con React, TypeScript y Firebase.",
    url: "https://github.com/AdelSuarez/modulo-9",
    urlIcon: "icons/github_.svg",
    img: "/m9_cap1-min.png",
    technologies: ["TypeScript", "React", "Firebase"],
    type: "windows",
    alt: "Image de modulo 9, mostrando la interfaz de la aplicación web",
  },
  {
    title: "FarmaUcab",
    description:
      "Aplicación de escritorio para gestionar consultorio, donde se administran productos, citas y pacientes, desarrollada con Java y SQLite.",
    url: "https://github.com/Ad elSuarez/farma-ucab",
    urlIcon: "icons/github_.svg",
    img: "/farmaucab_cap1-min.png",
    technologies: ["Java", "SQLite"],
    type: "windows",
    alt: "Image de farmaucab, mostrando la interfaz de la aplicación de escritorio",
  },
  {
    title: "InnovaTech",
    description:
      "Diseño de una aplicación web para gestionar un centro tecnológico educativo, el cual posee un ERP y un CRM, destacando cada zona de la aplicación con un diseño innovador, desarrollado con Figma.",
    url: "https://www.figma.com/proto/QcRNYMM1wqfjznJsvJLoku/Proyecto-Sistemas-de-Informaci%C3%B3n?t=0EU0TOAllCgo3JzK-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&node-id=281-844&starting-point-node-id=1%3A2&show-proto-sidebar=1",
    urlIcon: "icons/figma_.svg",
    img: "/innovatech_cap1-min.png",
    technologies: ["Figma"],
    type: "windows",
    alt: "Image de Innovatech, mostrando el diseño de la aplicación web en Figma",
  },
];
---

<section>
  <h2 class="title-section">/Proyectos.</h2>
  <div class="list-projects">
    {
      projects.map((project, index) => {
        return (
          <article class="project">
            <div class="project-details">
              <div class="project-header">
                <h3>{project.title}</h3>
                <Icon
                  url={project.url}
                  urlIcon={project.urlIcon}
                  sizeSmall={true}
                  alt={`icono que redirige a ${project.title}`}
                />
              </div>
              <p class="project-description">{project.description}</p>

              <div class="technologies">
                {project.technologies.map((tech) => (
                  <Tag tech={tech} alt={`icon de ${tech}`} />
                ))}
              </div>
            </div>
            <div class={`img-project ${colors[index]}`}>
              <img
                class={`${project.type}-img`}
                src={`/portfolio-web${project.img}`}
                alt={project.alt || project.title}
              />
            </div>
          </article>
        );
      })
    }
  </div>
</section>

<style>
  .title-section {
    /* color: var(--primary-color); */
    font-style: italic;
  }

  .list-projects {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .project {
    display: flex;
    gap: 1em;
  }
  .project-details {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .project-header .btn-icon {
    width: 1.5em;
    cursor: pointer;
    color: white;
  }

  .project-description {
    max-width: 60em;
  }
  .btn-icon:hover {
    filter: brightness(0.8);
  }

  .technologies {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0.5em;
  }

  .img-project {
    width: 28em;
    height: 14em;
    overflow: hidden;
    border-radius: 0.5em;
  }
  .green {
    background-color: #9abe49;
  }

  .cyan {
    background-color: #35c1c8;
  }

  .orange {
    background-color: #ffcb26;
  }

  .purple {
    background-color: #ab89f8;
  }

  .mobile-img {
    width: 14em;
    float: right;
    height: auto;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 1em;
    margin-right: 1em;
  }

  .windows-img {
    width: 28em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 1.5em;
    margin-left: 1.5em;
  }

  @media (max-width: 770px) {
    .project {
      flex-direction: column;
      align-items: center;
    }

    .img-project {
      width: 100%;
    }

    .windows-img {
      float: right;

      margin-top: 1em;
      margin-right: 1em;
    }
  }

  @media (max-width: 425px) {
    .technologies {
      flex-wrap: wrap;
    }

    .img-project {
      display: none;
    }
  }
</style>
